body {
    /*background-image: url("Resources/background_image.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100%;*/
    background-image: linear-gradient(to top, #96fbc4 0%, #ace0f9 100%);
}

#Location_icon {
    width: 30px;
}

#Ivan {
    /*horizontally center*/
    display: block;
    margin: auto;

    /*fitting image to parent element*/
    object-fit: cover;
    object-position: bottom;

    /*set max-height so image doesn't blow up*/
    max-height:350px;
    border-radius: 10%;
}

.list-custom {
    background-color:#000;
    color: #9fffdd;
}

.navbar-custom{
    background-color:#000;
}

.navbar-custom .navbar-text {
    color: green;
}